.venv/
.vim/
dist/
./pytest_cache/
django_test/db.sqlite3
.bumpversion.cfg
.dockerignore
.env-sample
.gitignore
.pre-commit-config.yaml
CHANGELOG.md
docker-compose.yml
gen_secret.py
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.venv
*.DS_Store
